server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/gifts_and_bows
    username: root
    password: 3277426

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false

  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 20MB

jwt:
  secret: giftsandbows_super_secure_key
  expiration: 86400000
